
:root {
    --primary-color: #4a90e2;
    --primary-hover: #357ABD;
    --danger-color: #d9534f;
    --danger-hover: #c9302c;
    --light-bg: #f8f9fa;
    --dark-footer: #343a40;
    --text-color: #333;
    --border-color: #dee2e6;
    --white-color: #ffffff;
}


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: var(--light-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


header {
    background-color: var(--white-color);
    padding: 1rem 2.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.1rem;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

nav a:hover {
    color: var(--primary-hover);
    border-bottom-color: var(--primary-hover);
}

main {
    flex: 1;
    padding: 2.5rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}